https://domain {

    basicauth /web* {
        username <password-hash>
    }

    reverse_proxy /web* https://headscale-ui:8443 {
        transport http {
            tls_insecure_skip_verify
        }
    }

    basicauth /hs-admin* {
        username <password-hash>
    }

    reverse_proxy /hs-admin* headscale-admin:80

    basicauth /admin* {
        username <password-hash>
    }

    reverse_proxy /admin* http://headplane:3000

    reverse_proxy * http://headscale:8080
}
